body table, th, td {
    border: 1px solid black;
    background-color: #F0F8FF;
}

#button {
    background-color: pink; 
    border: 3px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

h2 {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}